body{
    background-color: lavender;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color:ghostwhite
}

.logo{
    width: 7rem;
}

.nav-item > ul {
    display: flex;
    list-style-type: none;
    font-size: 1.2rem;
    margin-right: 2rem;
}
.nav-item > ul > li {
    padding: 0.75rem;
    margin: 0.75rem;
}

.body{
    margin: auto 2rem;
}

.filter{
    padding: 7px;
    margin: 7px;
}

.filter > button{
    margin-left: 5px;
    cursor: pointer;
}
.filter > button:hover{
    background-color: lightgreen;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.restaurant-card{
    padding: 5px;
    width: 14rem;
    height: 20rem;
    margin: 5px;
}

.restaurant-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.restaurant-card >h3{
    margin: 7px auto 0px;
}
.restaurant-card >h4, h5 {
    margin: 5px auto;
}

.res-logo{
    width: 100%;
    height: 10rem;
}

.simmer-container{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.shimmer-cart{
    padding: 5px;
    width: 14rem;
    height: 20rem;
    margin: 5px;
    background-color: lightgray;
}

.login-btn{
    padding: 0 1rem;
    cursor: pointer;
}

.user-container{
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}